@font-face {
    font-family: "Heavitas";
    src: url("Heavitas.ttf");
}

body {
    text-align: center;
    background-color: rgb(138, 211, 235);    
}
#artwork {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    
}
h1 {
    text-align:center;
    font-family: heavitas;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    color: slateblue;
}

h2 {
    font-size: 2vw;
}

#title {
    text-align:center;
    font-family: heavitas;
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    color: slateblue;
}
#xp, #weight, #height {
    font-weight: bolder;
    font-family: heavitas;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    color: black;
}
h3 {
    font-weight: bolder;
    font-family: heavitas;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    color: black;
}

#types {
    font-weight: bolder;
    font-family: heavitas;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    color: black;
}

#name {
    background-color: rgb(73, 110, 122);
    font-size: 1vw;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    font-family: heavitas;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::placeholder {
    color: rgb(255, 79, 79);
    text-align: center;
}

#name:hover {
    transition: all 0.1s ease-in;
    transform: scale(1.05);
}

button {
    background-color: rgb(138, 211, 235);
    font-family: Heavitas;
    color: rgb(255, 79, 79);
    border: none;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    opacity: 100%;
}

button:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.05);
}

ul {
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
}
ol li {
    text-align: center;
    list-style-type: none;
    font-family: sans-serif;
}

#localpokemons {
    font-family: heavitas;
    margin-top: 20px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 79, 79);
    text-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
    width: 165px;
    margin-left: auto;
    border-radius: 20px;
    margin-right: auto;
    background-color: rgb(73, 110, 122);
}

#localpokemons:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    color: purple;
}
